Flow dari programming: dari atas ke bawah

## Conditional
if <exp> sesuai = continue, if <exp> tidak sesuai = break
    harus perhatikan indentasi

In [1]:
names = ["Adit", "Bagus", "Daniel", "Dezenia", 
         "Ilham", "Maria", "Yusuf"]
others = ["Satya", "Richard", "Stefani", 
          "Timotius", "Veronica", "Viony", "Yoga"]
print(names)
print(others)

['Adit', 'Bagus', 'Daniel', 'Dezenia', 'Ilham', 'Maria', 'Yusuf']
['Satya', 'Richard', 'Stefani', 'Timotius', 'Veronica', 'Viony', 'Yoga']

In [15]:
x = 0
y = 50
z = "satya"

if x < y:
    print(f"Yes! {x} < {y}") #f untuk substitusi 
    print("Yes! {} < {}".format(x,y))

if z.title() in others:
    print(f"name: {z} is in others") #gak akan jalan karena beda huruf S nya makanya diubah pakai z.title
    print(z * 3)
else:
    print(f"{z} is not in others")

Yes! 0 < 50
Yes! 0 < 50
name: satya is in others
satyasatyasatya

In [5]:
if z in others:
    print(f"name: {z} is in others")
    print(z * 3)
print(f"{z} is not in others") #oops, ini tadinya udah bisa running cuman karena aku edit terus aku ingat kalau python itu based on last operator jadina error

NameError: name 'z' is not defined

In [16]:
book_price = 1000
mag_price = 500
money = 600

if money >= book_price:
    print("lets's buy a book")
elif money >= mag_price:
    print("juts buy magazines")
else:
    print("let's collect more money")

juts buy magazines

In [6]:
min_score = .7
score = .65

if score > min_score:
    print("success")
else:
    print("remedy")

remedy

#function: pake kurung biasa (), print, len, str, int
#dictionary, subtitusi var: pake kurung kurawal {}
#kurung siku [] indexing

## Looping

#Python "while" Loops
#mirip-mirip dengan if
#kalau while akan selalu menjalankan selama kondisinya benar

In [8]:
score = 1
min_score = 7

if score < min_score:
    print(score, "less than {}". format(min_score))
    print(score, "less than {}". format(min_score))
    print(score, "less than {}". format(min_score))
    print(score, "less than {}". format(min_score))
    print(score, "less than {}". format(min_score))

1 less than 7
1 less than 7
1 less than 7
1 less than 7
1 less than 7

In [9]:
#loop while
while score < min_score: #selama score kurang dari min_score, print:
    print(score, "less than{}". format(min_score))
    score = score + 1

1 less than7
2 less than7
3 less than7
4 less than7
5 less than7
6 less than7

In [1]:
names = ["Adit", "Bagus", "Daniel", "Dezenia", 
         "Ilham", "Maria", "Yusuf"]
print(names)

['Adit', 'Bagus', 'Daniel', 'Dezenia', 'Ilham', 'Maria', 'Yusuf']

In [2]:
idx = 0
while idx < len(names): #selama idx kurang dari len names, maka print.....
    print(idx, "name:", names[idx])
    idx = idx + 1

idx = 0
while idx < len(names):
    print(idx, "name:", names[idx])
    idx = idx + 2

0 name: Adit
1 name: Bagus
2 name: Daniel
3 name: Dezenia
4 name: Ilham
5 name: Maria
6 name: Yusuf
0 name: Adit
2 name: Daniel
4 name: Ilham
6 name: Yusuf

In [5]:
idx = 0
while idx < len(names): #selama idx kurang dari len names, jika idx sama dengan 2, maka break
    if idx == 2:
        break #looping dihentikan jika idx sama dengan 2
    print(idx, "name:", names[idx])
    idx = idx +1

0 name: Adit
1 name: Bagus

In [6]:
#skip name with index 0,3,6,9, etc
idx = 0
while idx < len(names):
    if (idx % 3 == 0):
        idx = idx + 1
        continue
    print(idx, "name:", names[idx])
    idx = idx + 1

1 name: Bagus
2 name: Daniel
4 name: Ilham
5 name: Maria

In [7]:
tagihan = [20000, 30000, 50000, -25000, 10000]
print(tagihan)

[20000, 30000, 50000, -25000, 10000]

In [8]:
i = 0
total_tagihan = 0
while i < len(tagihan):
    if i < 0:
        break
    print(total_tagihan)
    i = i + 1

0
0
0
0
0

In [3]:
#for loop
others = ["Satya", "Richard", "Stefani", 
          "Timotius", "Veronica", "Viony", "Yoga"]
print(others)

for name in others:
    print(name)

['Satya', 'Richard', 'Stefani', 'Timotius', 'Veronica', 'Viony', 'Yoga']
Satya
Richard
Stefani
Timotius
Veronica
Viony
Yoga

In [4]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
print(name, name[0], name[1], name[2])

Yoga Y o g

In [8]:
#output "s-a-t-y-a"
for name in others:
    print("name:", name)
    s = ""
    for char in name:
        s = s + char + "-"
        print(s.lower())

name: Satya
s-
s-a-
s-a-t-
s-a-t-y-
s-a-t-y-a-
name: Richard
r-
r-i-
r-i-c-
r-i-c-h-
r-i-c-h-a-
r-i-c-h-a-r-
r-i-c-h-a-r-d-
name: Stefani
s-
s-t-
s-t-e-
s-t-e-f-
s-t-e-f-a-
s-t-e-f-a-n-
s-t-e-f-a-n-i-
name: Timotius
t-
t-i-
t-i-m-
t-i-m-o-
t-i-m-o-t-
t-i-m-o-t-i-
t-i-m-o-t-i-u-
t-i-m-o-t-i-u-s-
name: Veronica
v-
v-e-
v-e-r-
v-e-r-o-
v-e-r-o-n-
v-e-r-o-n-i-
v-e-r-o-n-i-c-
v-e-r-o-n-i-c-a-
name: Viony
v-
v-i-
v-i-o-
v-i-o-n-
v-i-o-n-y-
name: Yoga
y-
y-o-
y-o-g-
y-o-g-a-

In [10]:
# output "s-a-t-y-a-"
names = ["Adit", "Bagus", "Daniel", "Dezenia", 
         "Ilham", "Maria", "Yusuf"]

for name in names:
    print("name:", name)
    s = ""
    for char in name:
        s = s + char + "-"
    print(s.lower())

name: Adit
a-d-i-t-
name: Bagus
b-a-g-u-s-
name: Daniel
d-a-n-i-e-l-
name: Dezenia
d-e-z-e-n-i-a-
name: Ilham
i-l-h-a-m-
name: Maria
m-a-r-i-a-
name: Yusuf
y-u-s-u-f-

#kenapa hasil In[8] dan In[10] beda ya?

In [12]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [13]:
for i in range(len(names)):
    if (i % 3 == 0) and (i != 0):
        continue
    print(i, "name:", names[i])

0 name: Adit
1 name: Bagus
2 name: Daniel
4 name: Ilham
5 name: Maria

In [14]:
profiles = {
    "names": ["harry", "michael", "jordan", "super"],
    "age": [18, 33, 24, 40],
    "location": ["jakarta", "bandung", "surabaya", "jogja"]
}
print(profiles)

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': [18, 33, 24, 40], 'location': ['jakarta', 'bandung', 'surabaya', 'jogja']}

In [16]:
print(profiles.keys())
print(profiles.values())

dict_keys(['names', 'age', 'location'])
dict_values([['harry', 'michael', 'jordan', 'super'], [18, 33, 24, 40], ['jakarta', 'bandung', 'surabaya', 'jogja']])

In [27]:
for value in profiles.values():
    print(value, "-", profiles[value])

TypeError: unhashable type: 'list'

In [26]:
for key in profiles.keys():
    print(key, "-", profiles[key])

names - ['harry', 'michael', 'jordan', 'super']
age - [18, 33, 24, 40]
location - ['jakarta', 'bandung', 'surabaya', 'jogja']

In [29]:
for key, value in profiles.items():
    print(key, "-", value)

names - ['harry', 'michael', 'jordan', 'super']
age - [18, 33, 24, 40]
location - ['jakarta', 'bandung', 'surabaya', 'jogja']

In [30]:
for key, value in profiles.item():
    print(key, "-", value)

AttributeError: 'dict' object has no attribute 'item'

kenapa kata "item" dan "items" berbeda? case In[29] dan In[30]? Apakah karena terdiri banyak item maka menggunakan "items"?

In [31]:
names

['Adit', 'Bagus', 'Daniel', 'Dezenia', 'Ilham', 'Maria', 'Yusuf']

In [32]:
list_keys = ["twos", "threes", "fours", "fives", "sixes"] #nambah key di profiles
multiplier = 2
for key in list_keys:
    value = []
    for i in range(4):
        value.append(i * multiplier)
    multiplier = multiplier + 1
    profiles[key] = value
    
print(profiles)

{'names': ['harry', 'michael', 'jordan', 'super'], 'age': [18, 33, 24, 40], 'location': ['jakarta', 'bandung', 'surabaya', 'jogja'], 'twos': [0, 2, 4, 6], 'threes': [0, 3, 6, 9], 'fours': [0, 4, 8, 12], 'fives': [0, 5, 10, 15], 'sixes': [0, 6, 12, 18]}

In [33]:
range(4)

range(0, 4)